[submodule "onchain/lib/openzeppelin-contracts"]
	path = onchain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "onchain/lib/LayerZero-v2"]
	path = onchain/lib/LayerZero-v2
	url = https://github.com/layerzero-labs/LayerZero-v2
[submodule "onchain/lib/devtools"]
	path = onchain/lib/devtools
	url = https://github.com/layerzero-labs/devtools
